body {
    background-color: #1b4965;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

#addTaskSection {
    background-color: #62b6cb;
    width: 750px;
    margin: auto;
    margin-bottom: 25px;
    padding: 25px;
    border: 4px solid;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

#taskInput{
    width: 500px;
    font-size: 16px;
    text-align: center;
}

#addTaskButton{
    font-size: 16px;
}

#toDoSection {
    background-color: #62b6cb;
    width: 750px;
    margin: auto;
    margin-bottom: 25px;
    padding: 25px;
    border: 4px solid;
    border-radius: 12px;
    text-align: center;
}

#completeIncomplete {
    margin-bottom: 0px
}

table {
    border-spacing: 25px;
  }

tr {
    width: 655px;
    padding: 10px;
    margin: 10px;
    border: 4px solid;
    border-radius: 12px;
    display: flex;
    justify-content:space-between;
    background-color: #5fa8d3;
}

.completed {
    background-color: #7fe5b2;
}

.button {
    width: 40px;
    height: 40px;
    border:#7fe5b2;
    color: grey;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    border: 2px solid grey;
}

.afterCompleteButton {
    width: 40px;
    height: 40px;
    background-color:#7fe5b2;
    color:white;
    border-radius: 50%;
    font-size: 24px;
    border: 2px solid white;
}

.onHoverAdd {
    background-color: #7fe5b2;
    color: white;
    border-color: white;
}

.onHoverDelete {
    background-color: lightcoral;
    color: white;
    border-color: white;
}

#sort {
    font-size: 16px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 16px;
    background-color: #5fa8d3;
}

#sortIncomplete {
    color:lightcoral
}
#sortComplete {
    color:#7fe5b2;
}